.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px 20px;
    color: white;
}

.logo img {
    width: 40px;
}


.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}


.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

